body {
	padding-top:50px;
	padding-bottom: 40px;
	margin-left:200px;
	-webkit-transition: margin 500ms ease;
	-moz-transition: margin 500ms ease;
	-ms-transition: margin 500ms ease;
	-o-transition: margin 500ms ease;
	transition: margin 500ms ease;
    font-size:62.5%;
}

ul,ol {
    list-style: none;
}

.required em {
    color:#f00;
    font-weight: bold;
    padding:0 2px;
}

.validate_error {
    color:#f00;
}


.navbar-inverse .brand {width:180px; color:#fff; }
.brand img {float:left; margin:2px 10px 0 0; }
.brand .label { 
	position:relative; 
	left:10px; 
	top:-3px; 
	font-weight:normal; 
	font-size:9px;
	background:#666;
	-webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.sidebar-nav {
	position:fixed;
	width:200px;
	left:0px;
	bottom:0;
	top:63px;
    z-index:10;
    border-right:1px solid #0099FF;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.sidebar-nav li { line-height:25px;padding:0px;}
.sidebar-nav li a {
    display:block;
    padding:10px 15px;
}
.sidebar-nav li a:hover ,.sidebar-nav li.active a {
    border-top:1px solid #0099FF;
    border-bottom: 1px solid #0099FF;
    border-right:1px solid transparent;
    background: #fff;
    width:101%;
    
}

.sidebar-nav li.first a:hover,.sidebar-nav li.first a {
    border-top:0px;
}

#topbar {
    1background: url(../img/top_bg.jpg) no-repeat left top #fff;
    background:#fff;
    border-color:#0099FF;
}

#topmenu,#profile {
    margin:25px 0 0 199px;
    border-bottom: 0;
}

#topmenu a,#profile a {
    
}

#topmenu a:hover ,#profile a:hover {
    background:#fff;
    cursor: pointer;
}

#profile {
    
}

#topbar .nav-tabs li {
    padding:0px;
}

#topbar .nav-tabs li a {
    display:block;
    border:1px solid #0099FF;
    border-width: 1px 1px 0px 1px;
}

#topbar .nav-tabs li.active a {
    background: #0099FF;
    color: #fff;
}
