.file_icon {
    background: url(../img/fileico_v4.png);
    background-position: 0 0;
}

.dir_icon16 {
    background-position: -896px -31px;
    width:16px;
    height:16px;
}



.pd20 {
    padding: 20px;
}


.upload-button {
    display: inline-block;
    height: 26px;
    width: 55px;
    background: url(../img/swfup/upload_button.png) no-repeat;
}

.upload-button:hover {
    background-position: 0 -26px;
}


.breadcrumb {
    margin: 0 0 10px 0;
}

.required em {
    color:#f00;
    font-weight: bold;
    padding:0 2px;
}

.notice {
    color:#f00;
}

.failed {
    color:#f00;
}

.success {
    color:blue;
}

.validate_error {
    color:#f00;
}

.pagination {
    margin:10px 0 0 ;
}

.pagination a {
    padding:1px 5px;
    border:1px solid #CBD8AC;
}

.pagination a.active {
    color:#f00;
    border:1px solid transparent;
}

.filebar {
    background:#EEF4EA;
    padding:10px 10px;
    border:1px solid #CBD8AC;
    margin:0 0 10px 0;
    position:relative;
}

.searchform {
    background:#EEF4EA;
    padding:10px 10px;
    border:1px solid #CBD8AC;
    margin:0 0 10px 0;
    position:relative;
}

.searchform .addlink {
   color:#f00;
}

.btn {
    cursor:pointer;
}


.container {
    padding:20px;
}

.maintain {
    
}

.maintain td ,.maintain tr th {
    padding:3px;
}


.table {
    border-collapse: collapse;
    width:100%;
}

.table thead tr {
    background:#FAFAF1;
}
.table td ,.table th {
    text-align: left;
    border:1px solid #D1D36B;
}

.table tbody tr:hover {
    background:#FAFAF1;
}

.table tr td ,.table tr th {
    padding:3px;
}

.table tbody td,.table tbody th {
    
}

.filebar a {
    margin:3px;
}

.files td, .files th {
    border-width: 1px 0 1px 0;
}



.zzjg {
    border:1px solid  #D1D36B;
    margin: 20px 10px 0 0;
    padding: 0 0 20px 0;
}

.zzjg h3 {
    margin:0;
    padding:5px;
    background:#FAFAF1;
    position:relative;
    border-bottom:1px solid  #D1D36B;
}
.zzjg h3 .goback {
    /*
    position:absolute;
    right:10px;
    top:5px;
    display: block;
    */
}
.zzjg .goback {
}

.zzjg .alert {
    margin:0px;
}


.deep1 {
    text-indent: 1em;
}
.deep2 {
    text-indent: 2em;
}

.deep3 {
    text-indent: 3em;
}
.deep4 {
    text-indent: 4em;
}
.deep5 {
    text-indent: 5em;
}
.deep6 {
    text-indent: 6em;
}
.deep7 {
    text-indent: 7em;
}
.deep8 {
    text-indent: 8em;
}

.datalist {
    padding:20px;
}

ol.style_decimal , ul.style_decimal {
    list-style-type: decimal;
}

.tree_item {
    border:1px solid #000;
    border-width: 0 0 0 1px;
}

#dept_employ_list li {
    display: block;
    padding: 2px 0;
}


#cal table {
    
}

#cal table td,#cal table th {
    border:1px solid #D1D36B;
    padding:3px;
}

.schedule_item h3 {
    margin:3px 0;
}

.schedule_item p {
    text-indent: 2em;
}

.ci_calendar .weekhead {
    background:#FAFAF1;
}

.ci_calendar .weekhead td {
    font-weight: bold;
}

/** 文件相关 */
.dir_list li {
    padding:3px 0;
    cursor: pointer;
}

.dir_list li.selected {
    background-color:#ddd;
}

.filerow {
    position:relative;
}

.filerow .dir_icon16 {
    position: absolute;
    display: block;
    top:0;
    left:0;
}

.isdir .filename {
    margin: 0 0 0 18px;
}

