.fix {
    position:fixed;
}

.fixbottom {
    position:fixed;
    bottom:0px;
    left: 0px;
    width:100%;
    height:35px;
    padding:5px 0;
    text-align: center;
    background: #E0F8D9;
}

.fixbottom .goback {
    font-size: 16px;
}

.backToTop {
    background: #000;
    display: none;
    width: 18px;
    line-height: 1.2;
    padding: 5px 0;
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 10px;
    bottom: 100px;
    _bottom: "auto";
    cursor: pointer;
    opacity: .6;
    filter: Alpha(opacity=60);
}


.file_icon {
    background: url(../img/fileico_v4.png);
    background-position: 0 0;
}

.dir_icon16 {
    background-position: -896px -31px;
    width:16px;
    height:16px;
}

.ke-insertfile {
    background:url(../js/themes/default/default.png) no-repeat;
    background-position: 0px -1040px;
    height: 16px;
    text-indent: 18px;
    display: block;
}

.center {
    text-align: center;
}

.table .center {
    text-align: center;
}

.readed {
    color:blue;
}

.pd20 {
    padding: 20px;
}

.operator {
    padding:10px 0;
}

.coolbg {
    border-right: 1px solid #ACACAC;
    border-bottom: 1px solid #ACACAC;
    background-color: #F1F8B4;
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}


.upload-button {
    display: inline-block;
    height: 26px;
    width: 55px;
    background: url(../img/swfup/upload_button.png) no-repeat;
}

.upload-button:hover {
    background-position: 0 -26px;
}


.breadcrumb {
    margin: 0 0 10px 0;
}

.required em {
    color:#f00;
    font-weight: bold;
}

.requireInput {
    border:1px solid red;
}

.notice {
    color:#f00;
}

.failed {
    color:#f00;
}


.success {
    color:blue;
}

.warning {
    color:#f00;
}

.validate_error {
    color:#f00;
}

.pagination {
    margin:10px 0 0 ;
}

.pagination a {
    padding:1px 5px;
    border:1px solid #CBD8AC;
}

.pagination a.active {
    color:#f00;
    border:1px solid transparent;
}

.filebar {
    background:#EEF4EA;
    padding:10px 10px;
    border:1px solid #CBD8AC;
    margin:0 0 10px 0;
    position:relative;
}

.searchform {
    background:#EEF4EA;
    padding:10px 10px;
    border:1px solid #CBD8AC;
    margin:0 0 10px 0;
    position:relative;
}

.searchform .addlink {
   color:#f00;
}

.btn {
    cursor:pointer;
}

.btn-orange,.btn-gray {
    background:url(../img/btn_orange.png) no-repeat 0 0;
    width:101px;
    height: 37px;
    border:0px;
    text-align:center;
    color: #FFFFFF;
    font-size: 16px;
}
.btn-gray {
    background:url(../img/btn_gray.png) no-repeat 0 0;
    color:#000;
}

.btn-orange:hover , .btn-gray:hover {
    background-position: 0 -45px;
}
.btn-orange:active, .btn-gray:active {
    background-position: 0 -90px;
}


.btn-primary {
    background:url(../img/btns.gif) no-repeat -114px -20px ;
    height:20px;
    line-height:22px;
    width:70px;
    color:#fff;
    border:0px;
    text-align:center;
}

.button-primary-m {
	color:#fff;
	background:url(../img/btns.gif) 0px -20px no-repeat;
	height:20px; 
    line-height:22px;
	border:0; 
    text-align:center; 
    cursor:pointer; 
    width:114px;
    
}
.button-primary-l {
	color:#fff;
	background:url(../img/btns.gif) 0px -60px no-repeat;
	height:20px; 
    line-height:22px;
	border:0; 
    text-align:center; 
    cursor:pointer; 
    width:140px;
}

.btn-default {
    background:url(../img/btns.gif) no-repeat -114px 0 ;
    height:20px;
    line-height:22px;
    width:70px;
    color:#fff;
    border:0px;
    text-align:center;
}

.container {
    padding:20px;
}

.maintain {
}

.border1 td , .border1 th {
    border:1px solid black;
}

.maintain .required , .maintain .optional {
    
}

.maintain td ,.maintain tr th {
    padding:5px;
    text-align: left;
}


.table {
    border-collapse: collapse;
    width:100%;
}

.table thead tr {
    background:#FAFAF1;
}
.table td ,.table th {
    text-align: left;
    border:1px solid #D1D36B;
}

.table tbody tr:hover {
    background:#FAFAF1;
}

.table tr td ,.table tr th {
    padding:3px;
}

.table tbody td,.table tbody th {
    
}

.wauto {
    width:auto;
}

.filebar a {
    margin:3px;
}

.files td, .files th {
    border-width: 1px 0 1px 0;
}



.zzjg {
    border:1px solid  #D1D36B;
    margin: 20px 10px 0 0;
    padding: 0 0 20px 0;
}

.zzjg h3 {
    margin:0;
    padding:5px;
    background:#FAFAF1;
    position:relative;
    border-bottom:1px solid  #D1D36B;
}
.zzjg h3 .goback {
    /*
    position:absolute;
    right:10px;
    top:5px;
    display: block;
    */
}
.zzjg .goback {
}

.zzjg .alert {
    margin:0px;
}


.deep1 {
    text-indent: 1em;
}
.deep2 {
    text-indent: 2em;
}

.deep3 {
    text-indent: 3em;
}
.deep4 {
    text-indent: 4em;
}
.deep5 {
    text-indent: 5em;
}
.deep6 {
    text-indent: 6em;
}
.deep7 {
    text-indent: 7em;
}
.deep8 {
    text-indent: 8em;
}

.datalist {
    padding:20px;
}

ol.style_decimal , ul.style_decimal {
    list-style-type: decimal;
}

.tree_item {
    border:1px solid #000;
    border-width: 0 0 0 1px;
}

#dept_employ_list li {
    display: block;
    padding: 2px 0;
}


#cal table {
    
}

#cal table td,#cal table th {
    border:1px solid #D1D36B;
    padding:3px;
}

.schedule_item h3 {
    margin:3px 0;
}

.schedule_item p {
    text-indent: 2em;
}

.ci_calendar .weekhead {
    background:#FAFAF1;
}

.ci_calendar .weekhead td {
    font-weight: bold;
}

/** 文件相关 */
.dir_list li {
    padding:3px 0;
    cursor: pointer;
}

.dir_list li.selected {
    background-color:#ddd;
}

.filerow {
    position:relative;
}

.filerow .dir_icon16 {
    position: absolute;
    display: block;
    top:0;
    left:0;
}

.isdir .filename {
    margin: 0 0 0 18px;
}


/** 消息 **/


.pm_item_detail {
    padding:20px;
}

.pm_item_detail .title {
    font-size: 15px;
}

.pm_item_table {
    width:100%;
}


.pm_item_table td, .pm_item_table th {
    padding:3px;
}

.pm_item_table th {
    font-weight: bold;
    text-align: left;
}

.pm_item_detail img {
    width:100%;
}


/**
 *
 * 发送人列表
 */
.userlist label,.userlist .item {
    border:1px solid #c7c7c7;
    padding:5px;
    margin:2px;
    width:100px;
    float:left;
    display:block;
    cursor:pointer;
}

.userlist label:hover, .userlist label.selected ,.userlist .item:hover ,.userlist .item.selected {
    border:1px solid red;
}


/**
 * 项目操作日志
 */
#proj_modpanel {
    position: relative;
    border: 1px solid #c7c7c7;
    background: #ddd;
    padding:5px;
}

#proj_modpanel .panel_list {
    max-height: 150px;
    _height:150px;
    overflow-y: auto;
    background: #fff;
}

.moditem .modcontent {
    text-indent: 2em;
}
 
 
.moditem .modaction {
    color:blue;
}

.moditem .action_failed {
    color:red;
}

.goback {
    color:#f00;
}
 
.workflow {
     background:rgb(238, 238, 238);
}

#flowbar {
    position: fixed;
    width:100%;
    top:0px;
    left:0px;
    background: black;
    z-index:3;
}

#flowbar span {
    color:#ACACAC;
    font-size: 16px;
    padding: 0 8px;
}

#flowbar .statusover {
    color: #4bae10;
}

#flowbar .current {
    color: red;
}


.project_detail {
    margin:10px 0 0 0;
    position:relative;
}

.project_detail .maintain {
    width:100%;
    margin:0 0 20px 0;
}

.project_detail .maintain caption {
    background: #ccc;
    border: 1px solid black;
    border-width: 1px 1px 0 1px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

#project_nav {
    position:absolute;
    width:30px;
    right:0;
}

#project_nav li {
    border:1px solid black;
    margin:2px 0;
    background: #ccc;
}
#project_nav li.first {
    margin-top:0;
}

.doc table {
    width: 100%;
    
}

.doc th,.doc td {
    padding:5px 2px;
}