* {
	font-size: 12px;
    margin:0;
    padding:0;
}

body,div,span,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,select,button,textarea,p,blockquote,iframe,table,th,td,article,aside,details,figcaption,figure,footer,header,hgroupd,nav,section {
	outline-style:none;
	font-family: "SimSun", sans-serif ,"Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "Microsoft YaHei" ;
    font-size:16px;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


body {
  font-size: 12px;
  line-height: 1.5;
}

td,th,div {
	word-break:break-all;
	word-wrap:break-word;
}

li,dd {
  list-style-type:none; margin:0px; padding:0px; 
}


ul,ol {
    list-style: none;
}


h1 { font-size:130%; font-weight:bold; }
h2 { font-size:115%; font-weight:bold; }
h3 { font-size:100%; font-weight:bold;}
/*
a:link { font-size: 9pt; color: #000000; text-decoration: none;  }
a:visited{ font-size: 9pt; text-decoration: none;  }
a:hover {color: red; }
*/
a {
   text-decoration: none;
}
a:hover {
    color: red;
    text-decoration:underline;
}
a img { border-style:none; }

b a {
	color:#666600;
}
strong a {
	color:#666600;
}

a b{
	color:#666600;
}
a strong{
	color:#666600;
}

input[type=text] , input[type=password] {
    height:20px;
    border:1px solid #c7c7c7; 
    text-indent:3px;
}

input[type=checkbox],input[type=radio] { 
    margin-right:3px; 
    vertical-align: middle;
}
input[type=text].grayed, input[type=password].grayed {
    color:#cccccc;
    border:1px solid #dedede;
    background:#f7f7f7;
    box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    -webkit-box-shadow:none;
}

table {
    border-collapse: collapse;
}

table td,table th {
    vertical-align: top;
    
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.clearfix{*zoom:1;}

.hidden {
    display: none;
}



.btn-orange,.btn-gray {
    background:url(../img/btn_orange.png) no-repeat 0 0;
    width:101px;
    height: 37px;
    border:0px;
    text-align:center;
    color: #FFFFFF;
    font-size: 16px;
}
.btn-gray {
    background:url(../img/btn_gray.png) no-repeat 0 0;
    color:#000;
}

.btn-orange:hover , .btn-gray:hover {
    background-position: 0 -45px;
}
.btn-orange:active, .btn-gray:active {
    background-position: 0 -90px;
}


.ud {
    border-bottom:1px solid black;
}

.container {
    width: 750px;
    margin:0 auto;
}
input.noborder {
    border:1px solid transparent;
}

textarea.noborder {
    border:1px solid transparent;
}

.noborder.stathover {
    border:1px solid #ccc;
}


/**
 * 定义字体
 */

 
 
.border1 th , .border1 td {
    border:1px solid black;
    padding: 5px;
    height:20px;
}

.border2 th , .border2 td {
    border:2px solid black;
}

.center, .center th , .center td {
    text-align: center;
    vertical-align: middle;
}

.alignleft , .center .alignleft {
    text-align: left;
}

.vmd th , .vmd td {
    vertical-align: middle;
}

/**
 * 打印自动分页
 */
.jzb , .mjb , .bgb , .pagemarker {
    page-break-before:always;
}


.jzb , .mjb {
    width:700px;
    margin:0 auto;
}
.mjb {
    width:730px;
    position: relative;
    left: 10px;
}


.jzb .fulltable, .check .fulltable {
    width:100%;
}

.jzb .title {
    font-size:30px;
    font-weight: normal;
}

.jzb .sepline {
    font-size: 15px;
    font-weight: bold;
}

.jzb th , .jzb td {
    height:35px;
}

.direction {
    text-align: center;
    vertical-align: middle
}


.jzb .jdr {
    text-align: center;
    vertical-align: middle;
    border-width: 0px 1px 0px 1px;
}

.jzb .direction {
    border-width: 0px 1px 0px 1px;
}

.jzb .borderTop {
    border-top:1px solid black;
}

.jzb .yj_item {
    margin-left:20px;
}



.jzb .fulltable {
    table-layout: fixed;
}

.jzb .sth {
    height:60px;
}

.jzb .as {
    text-align: left;vertical-align: top;padding:3px;
}

.jzb .bs {
    padding:3px;vertical-align: middle;
}

.jzb .cs {
    position: relative;
}

.jzb .zjr {
    width: 50%;float:left;
}

.jzb .clz {
    width: 48%;float:left;
}

.jzb .fjyj {
    width:20px;
    position: absolute;
    top:0p;x
    left:0px;
}

.jzb .jdyj {
    width:20px;
    position: absolute;
    top:0px;
    left:20px;
}
.jzb .last {
    height:180px;
}

.jzb .ba {
    text-align:left;padding:3px;
}

.jzb .ba .yj_item {
    margin:30px 0;
}
.jzb .ba .yj_item .gz {
    margin: 0 0 0 300px;
    font-size:18px;
}


.jzb .ba .d1 {
    width:50%;float:left;
}

.jzb .ba .d2 {
    float:left;
}

.jzb .jf {
    text-align: right;
}


/**
 * 审核表
 */
 
.check .col {
    height:200px;
}
.check .col td {
}

.check .last td {
    border-width: 0px 1px 1px 1px;
    
}

.check .noborder th {
    border-width:0px;
    text-align: left;
    text-indent: 1em;
    
}

.check .title {
    height:40px;
    
}


/**
 * 面积表
 */
input.viliage {
    height:30px;
}


#oparea {
    position:fixed;
    right:0;
}

.mjb .bh ,.mjb .word , .mjb .nature  {
    margin: 0 0 0 20px;
}

.mjb .mjb_title {
    font-size:26px;
}



.mjb .toptitle {
    letter-spacing:20px;
    width:200px;
}

.mjb .unit {
    text-align: right;
    padding:2px 10px;
    margin:-20px 0 0 0;
}
.mjb .xj {
    letter-spacing:20px;
}

.mjb .cp1 {width:40px;}
.mjb .cp2 {width:90px;}
.mjb .cp3 {width:120px;}
.mjb .cp4 {width:120px;}
.mjb .cp5 {width:120px;}
.mjb .cp6 {width:120px;}
.mjb .cp7 {width:100px;}



.mjb .remark {
    height:75px;
}
.mjb .remark input {
    width:100%;
    height:60px
}

.mjb .mjb_db {
    position:relative;padding:10px 30px;
}

.mjb .mjb_lk {
    position:absolute;right:10px;top:20px;
}

.mjb .two_title {
    padding: 0;
}

.mjb .two_title_wrap {
    position: relative;
    overflow: hidden;
    background-color:transparent;
}

.two_title_wrap > span  , .two_title_wrap .two_text {
    position: relative;
    z-index: 10;
}


.two_title_wrap .djline {
    position:absolute;
    border-top:1px solid black;
    height:1px;
    left:0;
    top:0;
    width: 300px;
    display:none;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0 ;
    transform-origin: 0 0 ;
    -webkit-transform: matrix(1.000000,0.000000,0.000000,1.000000,0,0);
    -moz-transform: matrix(1.000000,0.000000,0.000000,1.000000,0,0);
    -o-transform: matrix(1.000000,0.000000,0.000000,1.000000,0,0);
    -ms-transform: matrix(1.000000,0.000000,0.000000,1.000000,0,0);
    transform: matrix(1.000000,0.000000,0.000000,1.000000,0,0);
}

.two_title_wrap .adjust_area {
    position: absolute;
    top:25%;
    right: 0;
    display: none;
    
}

.two_title_wrap .adjust_area  .step {
    width:30px;
    font-size:14px;
}

.mjb .tptxt {
    width: 80%;
}


/**
 * 宗地调查表
 */
 
 .zddj {
     width:600px;
     margin:0 auto;
 }
 
 
 .zddj .title {
     font-size:24px;
     text-align: center;
     margin:50px 0 40px 0
 }
 
 
 .zddj .subtitle {
     font-weight: normal;
     font-size: 17px;
 }
 
 .zddj .pg {
     line-height: 40px;
     padding:10px 0;
     letter-spacing: 2px;
 }
 
  .zddj .pg li , .zddj .pg li p{
     font-size: 16px;
 }
 
 .zddj .pg li p {
     text-indent: 2em;
 }
 
.zddj .pg1 {
     text-indent: 2em;
     margin: 20px 0 0 0 ;
 }
 

 .zddj .pg2 .fixtb {
    margin: 0 0 0 20px;
}


 .zddj .pg2 li {
 }
 
 .zddj .pg3 h3.subtitle {
     text-indent: 20px;
 }

 .zddj .sign {
     text-align:right;
 }
 

  
  .zddj .sign span {
      margin: 0 80px 0 0;
  }
  
  
  
  /**
   * 变更表
   *
   */
 
.bgb {
    width:650px;
    margin:0 auto;
}

.bgb .bgb_title {
    font-size:24px;
    margin-bottom: 20px;
}

.bgb .fulltable {
    
}

.bgb tr {
    height:90px;
}

.bgb tr.last {
    height:180px;
}

.bgb .namelist {
    padding:15px;
}

.bgb .namelist .sign {
    margin: 10px;
}

.bgb .namelist span ,.bgb .ct span {
    font-size:16px;
    font-weight: bold;
}

.bgb .ud {
    padding: 0 10px;
    margin: 0 10px;
    border-bottom: 1px solid black;
}

.bgb .ct {
    text-align: right;
    margin-right:100px;
}


.bgb  .fulltable th , .bgb  .fulltable td {
    font-size:16px;
}


/**
 * 勘测定界报告
 */
 .kcdj {
     width:600px;
     margin:0 auto;
 }
 
 .kcdj .cover {
     text-align: center;
 }
 
 .kcdj .cover h1 {
     margin-top:200px;
     
 }
 
 .kcdj .cover_foot {
     margin-top:600px;
 }
 
 
 .kcdj .pg {
     margin:15px;
 }
 .kcdj .pg p {
     line-height: 30px;
 }
 
 .kcdj .subtitle {
     margin: 0 0 10px 0;
     
 }
 
 .kcdj .title {
     text-align: center;
     margin: 50px 0 40px 0;
 }
 
 .kcdj .pg1 p ,  .kcdj .pg5 p {
     text-indent:2em;
 }
 
 .kcdj .fixtb td {
     padding:5px ;
 }
 
 .kcdj .pg4 p {
     text-indent:2em;
     margin:5px;
 }
 
 .kcdj .pg4 .smalltitle {
     text-indent: 5px;
 }
 
 .kcdj .pg6 p {
     text-indent: 5px;
 }
 
.kcdj .sign {
    margin-top:80px;
    text-align:right;
}
 
.kcdj .sign span {
    margin: 0 80px 0 0;
}