* {
	font-size: 12px;
    margin:0;
    padding:0;
}

body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,select,button,textarea,p,blockquote,iframe,table,th,td,article,aside,details,figcaption,figure,footer,header,hgroupd,nav,section {
	outline-style:none;
	font-family: "Microsoft YaHei", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


body {
  font-size: 12px;
  line-height: 1.5;
}

td,th,div {
	word-break:break-all;
	word-wrap:break-word;
}

li,dd {
  list-style-type:none; margin:0px; padding:0px; 
}


ul,ol {
    list-style: none;
}


h1 { color:#171B16; font-size:130%; font-weight:bold; }
h2 { color:#171B16; font-size:115%; font-weight:bold; }
h3 { color:#171B16; font-size:100%; font-weight:bold;}
/*
a:link { font-size: 9pt; color: #000000; text-decoration: none;  }
a:visited{ font-size: 9pt; text-decoration: none;  }
a:hover {color: red; }
*/
a {
   text-decoration: none;
}
a:hover {
    color: red;
    text-decoration:underline;
}
a img { border-style:none; }

b a {
	color:#666600;
}
strong a {
	color:#666600;
}

a b{
	color:#666600;
}
a strong{
	color:#666600;
}

input[type=text] , input[type=password] {
    height:20px;
    border:1px solid #c7c7c7; 
    text-indent:3px;
}

input[type=checkbox],input[type=radio] { 
    margin-right:3px; 
    vertical-align: middle;
}
input[type=text].grayed, input[type=password].grayed {
    color:#cccccc;
    border:1px solid #dedede;
    background:#f7f7f7;
    box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    -webkit-box-shadow:none;
}

table {
    border-collapse: collapse;
}

table td,table th {
    vertical-align: top;
    
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.clearfix{*zoom:1;}

.hidden {
    display: none;
}



.btn-orange,.btn-gray {
    background:url(../img/btn_orange.png) no-repeat 0 0;
    width:101px;
    height: 37px;
    border:0px;
    text-align:center;
    color: #FFFFFF;
    font-size: 16px;
}
.btn-gray {
    background:url(../img/btn_gray.png) no-repeat 0 0;
    color:#000;
}

.btn-orange:hover , .btn-gray:hover {
    background-position: 0 -45px;
}
.btn-orange:active, .btn-gray:active {
    background-position: 0 -90px;
}




.container {
    width: 750px;
    margin:0 auto;
}
input.noborder {
    border:1px solid transparent;
}

textarea.noborder {
    border:1px solid transparent;
}

.noborder.stathover {
    border:1px solid #ccc;
}


/**
 * 定义字体
 */

 
 
.border1 th , .border1 td {
    border:1px solid black;
    padding: 5px;
    height:20px;
}

.border2 th , .border2 td {
    border:2px solid black;
}

.center, .center th , .center td {
    text-align: center;
    vertical-align: middle;
}

.alignleft , .center .alignleft {
    text-align: left;
}

.vmd th , .vmd td {
    vertical-align: middle;
}

/**
 * 打印自动分页
 */
.jzb , .mjb {
    page-break-after:always;
}


.jzb , .mjb {
    width:700px;
    margin:0 auto;
}

.jzb .fulltable, .check .fulltable {
    width:100%;
}

.jzb .title {
    font-size:30px;
    font-weight: normal;
}

.jzb .sepline {
    font-size: 15px;
    font-weight: bold;
}

.jzb th , .jzb td {
    height:35px;
}

.direction {
    text-align: center;
    vertical-align: middle
}


.jzb .direction {
    border-width: 0px 1px 0px 1px;
}

.jzb .borderTop {
    border-top:1px solid black;
}

.jzb .yj_item {
    margin-left:20px;
}

/**
 * 审核表
 */
 
.check .col {
    height:200px;
}
.check .col td {
}

.check .last td {
    border-width: 0px 1px 1px 1px;
    
}

.check .noborder th {
    border-width:0px;
    text-align: left;
    text-indent: 2em;
    
}

.check .title {
    height:40px;
    
}


/**
 * 面积表
 */
input.viliage {
    height:30px;
}


#oparea {
    position:fixed;
    right:0;
}

.mjb .bh ,.mjb .word , .mjb .nature  {
    margin: 0 0 0 20px;
}

.mjb .mjb_title {
    font-size:26px;
}



.mjb .toptitle {
    letter-spacing:20px;
    width:200px;
}

.mjb .unit {
    text-align: right;padding:2px 10px;
}
.mjb .xj {
    letter-spacing:20px;
}

.mjb .cp1 {width:40px;}
.mjb .cp2 {width:60px;}
.mjb .cp3 {width:80px;}
.mjb .cp4 {width:130px;}
.mjb .cp5 {width:130px;}
.mjb .cp6 {width:130px;}
.mjb .cp7 {width:120px;}



.mjb .remark {
    height:60px;
}
.mjb .remark input {
    width:100%;
    height:60px
}

.mjb .mjb_db {
    position:relative;padding:10px 30px;
}

.mjb .mjb_lk {
    position:absolute;right:10px;top:20px;
}

.mjb .two_title {
    padding: 0;
}

.mjb .two_title_wrap {
    position: relative;
    overflow: hidden;
}

.two_title_wrap .djline {
    position:absolute;
    border-top:1px solid black;
    height:1px;
    left:0;
    top:0;
    width: 300px;
    display:none;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0 ;
    transform-origin: 0 0 ;
    -webkit-transform: matrix(1.000000,0.000000,0.000000,1.000000,0,0);
    -moz-transform: matrix(1.000000,0.000000,0.000000,1.000000,0,0);
    -o-transform: matrix(1.000000,0.000000,0.000000,1.000000,0,0);
    -ms-transform: matrix(1.000000,0.000000,0.000000,1.000000,0,0);
    transform: matrix(1.000000,0.000000,0.000000,1.000000,0,0);
}

.two_title_wrap .adjust_area {
    position: absolute;
    top:25%;
    right: 0;
    display: none;
    
}

.two_title_wrap .adjust_area  .step {
    width:30px;
    font-size:14px;
}

.mjb .tptxt {
    width: 80%;
}